/* Pour la page entière */
* {
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0; 
    /*déclaration des variables*/
    --bluecolor: #0065FC;
    --bckgrndgrey: #F2F2F2;
    --lightblue:#DEEBFF;
    --lightgrey: #dcdcdc;
}

.underbody {
    padding: 0 50px 0 50px;
    max-width: 1340px;
    margin: auto;
}

img {
    object-fit: cover;
}

h1 {
    font-size: 23px;
    font-weight: 700;
}

h2 {
    font-size: 18px;
    font-weight: 700;
}

h3 {
    font-size: 0.9em;
    font-weight: 700;
    margin: 10px 0 5px 16px;
}

h3 + p {
    font-size: 0.8em;
    margin: 0 0px 8px 15px;
}

h4 {
    font-size: 1em;
    font-weight: 700;
    margin: 15px 50px 0.3em 15px;
}

h4 + p {
    font-size: 0.8em;
    margin: 7px 0 0 15px ;
}

.stars {
    margin: 0 0 0 15px;
}

/*couleurs des étoiles + images provenant de fontawesome*/

.gris {
    color:var(--lightgrey);
}

.bleu {
    color:var(--bluecolor);
}

/*lien*/ 
a {
    text-decoration: none;
    color: black;
    font-weight: 500;
  }

a:visited {
    color: black; 
    font-weight: 500;
}  

/* lien survolé */
a:hover h3, a:hover h1, a:hover h2, a:hover h4 {
    text-decoration:none;
    color: var(--bluecolor);
    font-weight: 700;
    transition: color 0.4s;
}

a:hover p, a:hover {
    text-decoration:none;
    color: var(--bluecolor);
    font-weight: 500;
    transition: color 0.4s;
}

/* SITE */

/* Pour la partie header */
header {
    position:sticky; 
    top: 0; 
    background-color: white;
    z-index: 2;
    height: 120px;
    line-height: 120px;
}

.navlien-double {
    display: flex;
    justify-content: center;
    align-content: space-between;
}

.navlien {
    margin: 0 5px 0 5px;
    padding: 0px 18px 0px 18px;
}

.navinscr {
    padding: 0px 33px 0px 33px;
}

.navlien:hover {
    border-top: 2px solid var(--bluecolor);
}

header img {
    padding-top: 38px;
}

em {
    font-style: normal;
    font-weight:700; 
    color: var(--bluecolor);
}

header nav { 
    width: 500px;
    float: right;
    display: flex;
    justify-content: center;
    align-content: space-between;
}

/*Trouvez votre hébergement*/
.premiertitre h1 {
    margin-top: 10px;
}

/*Rechercher*/
.rechercher {
    display: flex; 
    height: 50px; 
    margin-bottom: 30px;
}

.mapicon {
    border-radius: 10px 0 0 10px; 
    background-color: var(--lightgrey);
    padding: 15px 20px 0 20px; 
}

form input {
    border: 1px solid var(--lightgrey);
    border-right: none;
    border-left: none;
    height: 48px;
    width: 220px;
    margin: 0;
    justify-content: center;
    padding: 0 0 0 17px;
    font-size: 1em;
    font-weight: bold;
}

.search {
    background-color: var(--bluecolor);
    border:none;
    padding: 0 18px 0 18px;
    height: 50px;
    margin: 0;
    border-radius: 0px 15px 15px 0;
    font-weight: 600;
    color: white;
}

.search:hover {
    background-color: #002764;
    cursor: pointer;
}

/*Section filtres*/
.filtres {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 40px;
    font-weight:bold;
}

.filtres p {
    margin: 16px 20px 16px 10px;
}

.fltr {
    margin-right: 30px;
}

.rondbleu {
    width: 50px;
    height: 50px;
    background-color: var(--lightblue);
    /*AJOUTER BORDER SUR LA BOITE BLEU FONCE - ON VOIT LA BORDURE GRISE DERRIERE*/
    color: var(--bluecolor);
    border-radius: 25px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.minifiltres {
    height: 50px;
    border-radius:30px;
    border: 2px solid var(--bckgrndgrey);
    border-left: none;
    margin-right: 25px; 
    display: flex;
}

a.minifiltres p {
    font-weight: 700;
}

/*partie "Plus de 500 logements"*/
.info {
    display: flex;
    margin-bottom: 40px;
}

.info p {
    margin:0;
    padding-top: 5px;
    font-weight:500;
}

.fa-stack { 
    font-size: 11px;  
    margin-right: 11px;
}

.fa-stack i {
    padding: 3px 1px;
    border-radius: 50%;
    border: 1px solid var(--lightgrey);
}

/*aside populaires*/
.populaires {
    background-color: var(--bckgrndgrey);
    border-radius: 20px;
    float: right;
    padding: 0 40px 0 40px;
    height: 627px;
}

.populaires h1 {
    padding: 45px 0 25px 0;
    margin: 0; 
}

.popbox {
    display: flex; 
    flex-direction: column;
    align-content: space-between;
}

.hotelpop{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 12px var(--lightgrey);
    word-wrap: break-word;
    display: flex;
    padding-right: 10px;
    margin-bottom: 35px;
    height: 145px;
    width: 345px;
}

.popimage {
    margin-top:5px;
    text-align: left;
    margin: 0;
    padding: 5px 0 5px 5px;
    min-width: 40%;
    width: 40%;
}

.hotelpop img {
    border-radius: 20px;
    overflow: hidden;
    height: 100%;
    width: 100%;
    border-radius: 18px 0px 0px 18px;
}

.poptext {
    background-color: white; 
    bottom:0px;
    width: 99%;
}

/*Section Hébergements*/
#hebergements {
    background-color: var(--bckgrndgrey);
    border-radius: 20px;
    padding-left: 40px; 
    height: 627px;
}

#hebergements h1 {
    padding-top: 47px;
    margin: 0;
}

#hebergements h2 {
    margin-top: 17px;
}

#hebergements h2 a:link {
    font-weight: 700;
}

#hebergements p {
    font-size: 13px;
    font-weight:500;
}

.heberbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    margin-top: 30px;
}

.hotel{ /*boite hotel*/
    background-color: white;
    overflow:hidden;
    border-radius: 20px;
    box-shadow: 0px 0px 12px var(--lightgrey);
    margin: auto;
    position: relative; 
    height: 200px;
    width: 28%;
    display: flex;
    flex-direction: column;
    padding: 0 5px 0 5px;
    margin-bottom: 30px;
    margin-left: 0;
}

.hotelimag {
    margin: 5px 0 0 0;
    text-align: center;
    top:-8%;
}

.hotel img {
    overflow: hidden;
    width: 100%;
    height: 114px;
    border-radius: 18px 18px 0px 0px;
}

.hoteltxt { /*nom hôtel + prix + étoiles*/ 
    background-color: white; 
    bottom:0px;
    width: 99%;
    overflow: hidden;
    height: 85px;
}

.stars {
    margin-left: 15px;
}

/*Activités*/ 
#sectact {
    clear:both;
}

.activ {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.activ_double {
    width: 22%;
}

.activ_grand { 
    border-radius: 20px;
    box-shadow: 0px 0px 15px var(--lightgrey);
    overflow:hidden;
    height: 445px;
    width: 22%;
}

.activ_grand img {
    height: 390px;
    width: 100%;
    object-position: 50% 30%;
}

.activ_grand p {
    margin: 0; 
}

.activ_medium {
    border-radius: 20px;
    box-shadow: 0px 0px 15px var(--lightgrey);
    overflow:hidden;
    height: 235px;
    margin-bottom: 40px;
}

.activ_medium img {
    height: 180px;
    width: 100%;
    object-position: 50% 40%;
}

.activ_medium p {
    margin: 0;
}

.activ_medium_small {
    border-radius: 20px;
    box-shadow: 0px 0px 15px var(--lightgrey);
    overflow:hidden;
    height: 195px;
    margin-bottom: 40px;
}

.activ_medium_small img {
    width: 100%;
    height: 140px;
}

.activ_medium_large {
    border-radius: 20px;
    box-shadow: 0px 0px 15px var(--lightgrey);
    overflow:hidden;
    height: 210px;
    margin-bottom: 40px;
}

.activ_medium_large img {
    height: 155px;
    width: 100%;
    object-position: 50% 15%;
}

.activ_petit {
    display: block;
    border-radius: 20px;
    box-shadow: 0px 0px 15px var(--lightgrey);
    overflow: hidden;
    height: 165px;
}

.activ_petit img {
    width: 100%;
    height: 110px;
    object-position: 50% 15%;
}

/* Pour la partie footer */
footer { 
    background-color: var(--bckgrndgrey);
    height: 218px;
    display: flex;
}
    
footer section {
    display: inline-block;
    flex: 1;
}

footer section h2 {
    margin-top: 45px;
}

footer section ul {
    padding-left: 0;
}

footer section li {
    list-style-type: none;
    margin-bottom: 18px;
}

.footer_underbody {
    display: flex;
    width: 1340px;
}


/******AJUSTEMENT PC******/
@media only screen and (min-width: 1300px) {
    .mini_search {
        display: none;
    }

    #hebergements {
        width: 59%;
    }
}


/******MOBILE******/
@media screen and (max-width: 600px) {
    .underbody {
        padding: 0;
    }

    header {
        position:static;
        line-height: normal;
    }

    header nav {
        width: 100%;
        padding-bottom: 20px;
    }

    header img {
        padding-top: 10px;
        padding-bottom: 30px;
        padding-left: 20px;
    }

    .navinscr {
        position: absolute;
        top: 30px;
        right: 20px;
        padding: 0;
    }

    .navlien-double {
        width: 100%;
        padding-left: 0;
    }

    .navlien-double:last-child {
        text-align: right;
    }

    .navlien {
        width: 50%;
        margin: 0;
        padding: 0;
    }

    .navlien:first-child {
        text-align: center;
        padding-bottom: 12px;
        border-bottom: 2px solid var(--bckgrndgrey);
    }

    .navlien:last-child {
        text-align: center;
        padding-bottom: 12px;
        border-bottom: 2px solid var(--bckgrndgrey);
    }

    .navlien:hover {
        border-bottom: 2px solid var(--bluecolor);
        border-top: none;
    }

    .premiertitre {
        padding: 0 20px 0 20px; 
    }

    /*RECHERCHER*/

    .rechercher {
        padding: 0 20px 0 20px;
    }
    .search {
        display: none;
    }

    .mini_search {
        background-color: var(--bluecolor);
        color: white;
        width: 50px;
        height: 50px;
        border-radius: 15px;
        border: none;
        margin-left: -10px;
    }

    /*FILTRES*/
    .filtres {
        padding: 0 20px 0 20px;
    }

    .fltr {
        width: 100%;
    }

    .minifiltres {
        margin-bottom: 15px;
        margin-right: 10px;
    }
    
    .info {
        padding: 0 20px 0 20px;
    }

    /*POPULAIRES*/
    .populaires {
        float: none;
        padding: 0;
        border-radius: 0;
        height: 585px;
    }

    .populaires h1 {
        padding: 45px 20px 25px 20px;
    }

    .popbox {
        padding: 0 20px 0 20px;
    }

    .hotelpop {
        margin-bottom: 10px;
        width: 100%;
        padding-right: 0;
    }

    /*HEBERGEMENTS*/
    #hebergements {
        height: 1450px;
        padding: 0 20px 0 20px;    
        background-color: white;
    }

    .hotel {
        width: 100%;
        margin-bottom: 12px;
    }


    /*ACTIVITES*/
    #sectact {
        height: 1350px;
        padding: 0 20px 0 20px;
    }
    
    .activ {
        flex-direction: column;
    }

    .activ div, .activ a {
        width: 100%;
        height: 190px;
        margin-bottom: 25px;
    }

    .activ div img, .activ a img {
        height: 135px;
    }
    
    .activ .activ_double {
        height: 400px;
    }


    /*FOOTER*/
    footer {
        flex-direction: column;
        height: 500px;
        padding-bottom: 50px;
    }

    footer .underbody {
        margin: 0;
    }

    .footer_underbody {
        flex-direction: column ;
        padding: 0 20px 0 20px;
        width: 100%;
    }

}