/* Pour la page entière */
* {
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0; 
}

img {
    object-fit: cover;
}

p {
    font-size: 16px;
    font-weight:500;
    line-height: 0.75em;
}

h1 {
    font-size: 23px;
    font-weight: 700;
    line-height: 0.5em;
}

h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 0.5em;
}

h3 {
    font-size: 15px;
    font-weight: 800;
    line-height: 0.5em;
    margin-left: 15px;
    margin-top: 1em;
    margin-bottom: 0.7em;
}

h3 + p {
    font-size: 13px;
    margin-left: 15px;
}

/*icone fontawesome*/
.fa-stack { 
    font-size: 10px;  
}

.fa-stack i {
    padding: 4px 1px;
    border-radius: 50%;
    border: 1px solid #dcdcdc;

}

/*lien*/ 
a:link {
    text-decoration: none;
    color: black;
    font-weight: 500;
  }
  
/* lien survolé */
a:hover {
    text-decoration:none;
    color: black;
    font-weight: 500;
}

a:visited {
    text-decoration:none;
    color: black;
    font-weight: 500;
}

/* Pour la partie header */
header img {
    margin-top: 40px;
    margin-left: 45px;
}

em {
    font-style: normal;
    font-weight:700; 
    color: #0065FC;
}

header nav { 
    float: right;  
    list-style-type: none;
    margin-top: 30px;
}

header nav ul li { 
    display: inline; 
    margin-right: 55px; 
}

header nav ul li a:hover {
    text-decoration: none;
    color: #0065FC;
}

/*Premier titre*/ 
.premiertitre {
    margin-left: 45px;
}

.filtres {
    margin-left: 45px;
}

.logmnts {
    margin-left: 45px;
}
/*aside populaires*/
.populaires {
    background-color: #F2F2F2;
    border-radius: 20px;
    float: right;
    width: 25%;
    padding-left:30px;
    padding-right: 30px; 
    margin-right: 45px;
}

.populaires h1 {
    padding-top: 30px;
}

.popbox {
    display: flex; 
    flex-direction: column;
    align-content: space-around;
}

.hotelpop{
    background-color: white;
    border: 3px white;
    border-radius: 20px;
    box-shadow: 0px 0px 15px #dcdcdc;
    word-wrap: break-word;
}

.hotelpop img {
    border-radius: 20px;
    overflow: hidden;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

/*Section Hébergements*/
.hebergements {
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 59%;
    padding-left: 25px; 
    padding-right: 25px; 
    margin-left: 45px;
    height: 627px;
}

.hebergements h1 {
    padding-top: 30px;
}

.heberbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
}

.hotel{ /*boite hotel*/
    background-color: white;
    overflow:hidden;
    border-radius: 20px;
    box-shadow: 0px 0px 15px #dcdcdc;
    margin: auto;
    position: relative; 
    height: 200px;
    width: 28%;
    display: flex;
}

.hotelimag {
    margin-top:5px;
    text-align: center;
    margin-bottom: 0;
    position: absolute; 
    top:-8%;

}

.hotel img {
    overflow: hidden;
    width: 100%;
    height: 114px;
}

.hoteltxt { /*nom hôtel + prix + étoiles*/ 
    background-color: white;
    position: absolute; 
    bottom:0px;
    width: 99%;
    overflow: hidden;
    height: 85px;
}

/*Activités*/ 
.sectact {
    clear:both;
    margin-left: 45px;
}

.activ {
    border-radius: 20px;
    box-shadow: 0px 0px 15px #dcdcdc;
}

.activ img {
    border-radius: 20px;
    overflow: hidden;
}

/* Pour la partie footer */
footer { 
    background-color: #F2F2F2;
    height: 218px;
    display: flex;
    }

footer section {
    display: inline-block;
    width: 495px;
    line-height: 1.8;
}

footer section h2 {
    margin-left: 43px;
    margin-top: 45px;

}

footer section li {
    list-style-type: none;
}